html, body {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.06em;
    background-color: #2F4B26;
}

#projectWrapper {
    width: 90%;
    min-width: 200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    border-radius: 25px;
    background-color: #c4d6c0;
}

#newProjectButton {
    padding: 20px;
    border-radius: 25px;
    background-color: #c4d6c0;
    color: #2F4B26;
    font-size: 2em;
}

button#newProjectButton {
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
    display: block;
}

.projectCard {
    width:300px;
    height: 350px;
    margin: 20px;
    padding: 20px;
    border-radius: 25px;
    border:2px solid #2F4B26;
}

.projectCard li {
    display: flex;
    justify-content: space-between;
    margin: 5px;
    background-color: #5799422a;
}

.deleteTaskButton {
    flex-direction: row-reverse;
}

.expandTaskButton {
    flex-direction: row-reverse;
}

.projectCardTitle {
    width: 95%;
    border:2px solid rgb(110, 226, 43);
}

.projectCardDescription {
    width: 95%;
    border:2px solid rgb(226, 95, 43);
}

#newProjectForm {
    width: 50%;
    min-height: 350px;
    background-color: #c4d6c0;
    border: 2px solid #2F4B26;
    border-radius: 20px;
    z-index: 1;
    position: absolute;
    left: 25%;
    top: 25%;
    display: none;
    padding: 20px;
}

#newTaskForm {
    width: 50%;
    min-height: 350px;    
    background-color: #c4d6c0;
    border: 2px solid #2F4B26;
    border-radius: 20px;
    z-index: 0;
    position: absolute;    
    left: 25%;
    top: 25%;
    display: none;
    padding: 20px;
}

.lowPriority {
    color: rgb(44, 158, 16);
}

.mediumPriority {
    color: rgb(238, 125, 20);
}

.highPriority {
    color: rgb(105, 3, 3);
}

#taskPopup{
    width: 50%;
    border-radius: 25px;
    background-color: #c4d6c0;
    border: 2px solid #2F4B26;
    border-radius: 20px;
    position: absolute;
    left: 25%;
    top: 25%;
    display: none;
    padding: 20px;

}