html, body {
    padding: 0;
    margin: 0;
}

#projectWrapper {
    width: 750px;
    height: 100vh;
    margin: 0 auto;
    background-color: rgb(212, 189, 125);
}

.projectCard {
    width:250px;
    height: 350px;
    margin: 20px;
    padding: 20px;
    border-radius: 25px;
    border:2px solid blueviolet;
}

.projectCardTitle {
    width: 95%;
    border:2px solid rgb(110, 226, 43);
}

.projectCardDescription {
    width: 95%;
    border:2px solid rgb(226, 95, 43);
}

#newProjectForm {
    width: 50%;
    min-height: 350px;
    background-color: green;
    z-index: 1;
    position: absolute;
    left: 25%;
    top: 25%;
    display: none;
}

#newTaskForm {
    width: 50%;
    min-height: 350px;
    background-color: red;
    z-index: 0;
    position: absolute;    
    left: 25%;
    top: 25%;
    display: none;
}

.taskComplete {
    background-color: blue;
}

.lowPriority {
    color: rgb(44, 158, 16);
}

.mediumPriority {
    color: rgb(238, 125, 20);
}

.highPriority {
    color: rgb(105, 3, 3);
}

#taskPopup{
    width: 50%;
    border-radius: 25px;
    border: 2px solid red;
    background-color: aqua;
    position: absolute;
    left: 25%;
    top: 25%;
    display: none;
}